services:
  alertmanager:
    image: "{{ alertmanager_image }}"
    container_name: "{{ alertmanager_container_name }}"
    restart: unless-stopped
    ports:
      - "{{ alertmanager_port }}:9093"
    volumes:
      - ./alertmanager.yaml:/etc/alertmanager/alertmanager.yaml
      # Alertmanager работает от пользователя nobody (UID 65534)
      - "{{ alertmanager_data_dir }}:/alertmanager"
    command:
      - "--config.file=/etc/alertmanager/alertmanager.yaml"
      - "--storage.path=/alertmanager"
    networks:
      - "{{ monitoring_network }}"

networks:
  "{{ monitoring_network }}":
    external: true