services:
  node_exporter:
    image: "{{ node_exporter_image }}"
    container_name: "node_exporter.{{ host_identifier }}"
    command:
      - '--path.rootfs=/host'
    # Важно: host режим нужен для доступа к реальному "железу"
    network_mode: host
    pid: host
    restart: unless-stopped
    volumes:
      - '/:/host:ro,rslave'

  cadvisor:
    image: "{{ cadvisor_image }}"
    container_name: "cadvisor.{{ host_identifier }}"
    restart: unless-stopped
    network_mode: host
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      # Для корректной работы на некоторых системах иногда нужно это:
      # - /dev/disk/:/dev/disk:ro
    command:
      # Указываем нестандартный порт, чтобы не конфликтовать с 8080
      - "--port={{ cadvisor_port }}"
      # Опционально: отключить лишние метрики для снижения нагрузки
      # - "--docker_only=true"
      # - "--disable_metrics=disk,tcp,udp,percpu,sched,process"